server:
  servlet:
    session:
      cookie:
        same-site: lax

spring:
  mail:
    host: localhost
    port: 1025
    username: ""
    password: ""
    protocol: smtp
    properties:
      mail.smtp.auth: false
      mail.smtp.starttls.enable: false

  datasource:
    url: jdbc:mysql://localhost:3306/passwordless?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&useUnicode=true&characterEncoding=utf8
    username: root
    password: "123456"
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate.jdbc.time_zone: UTC
    # show-sql: true   # bật nếu muốn xem SQL khi dev

  liquibase:
    enabled: false

otp:
  attempts: 5
  resendAllowedAfterMinutes: 1
  settings:
    - id: "sms"
      name: "Dummy SMS OTP Setting"
      messageTitle: "Acme LLC"
      messageTemplate: "Confirmation code: ${otp}"
      otpLength: 6
      useLetters: false
      useDigits: true
      ttlMinutes: 3
      sender: "dummyOTPSender"

    - id: "twilioSms"
      name: "Twilio SMS OTP Setting"
      messageTitle: "Acme LLC"
      messageTemplate: "Confirmation code: ${otp}"
      otpLength: 6
      useLetters: false
      useDigits: true
      ttlMinutes: 3
      sender: "twilioOTPSender"

    - id: "emailLink"
      name: "Email Link OTP Setting"
      messageTitle: "Acme LLC"
      messageTemplate: >
        Click the following link to confirm your action:
        http://localhost:8080/confirm?otp=${otp}&operationId=${operationId}
      otpLength: 20
      useLetters: true
      useDigits: true
      ttlMinutes: 10
      sender: "emailOtpSender"

webauthn:
  settings:
    timeout: 60000
    rpId: localhost
    origin: "http://localhost:8080"

totp:
  issuer: "acme.com"
  issuerLabel: "Acme LLC"

# Swagger/OpenAPI Configuration
springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui
    enabled: true
    operationsSorter: method
    tagsSorter: alpha
    tryItOutEnabled: true
    filter: true
    displayRequestDuration: true
  show-actuator: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
