server:
  servlet:
    session:
      cookie:
        same-site: none
        secure: true

spring:
  mail:
    host: localhost
    port: 1025
    username: ""
    password: ""
    protocol: smtp
    properties:
      mail.smtp.auth: false
      mail.smtp.starttls.enable: false

  datasource:
    url: jdbc:mysql://localhost:3306/passwordless?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&useUnicode=true&characterEncoding=utf8
    username: root
    password: "123456"
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate.jdbc.time_zone: UTC
    # show-sql: true   # bật nếu muốn xem SQL khi dev

  liquibase:
    enabled: false

otp:
  attempts: 5
  resendAllowedAfterMinutes: 1
  settings:
    - id: "sms"
      name: "Dummy SMS OTP Setting"
      messageTitle: "Acme LLC"
      messageTemplate: "Confirmation code: ${otp}"
      otpLength: 6
      useLetters: false
      useDigits: true
      ttlMinutes: 3
      sender: "dummyOTPSender"

    - id: "twilioSms"
      name: "Twilio SMS OTP Setting"
      messageTitle: "Acme LLC"
      messageTemplate: "Confirmation code: ${otp}"
      otpLength: 6
      useLetters: false
      useDigits: true
      ttlMinutes: 3
      sender: "twilioOTPSender"

    - id: "emailOtp"
      name: "Email OTP Setting"
      messageTitle: "Authentication Code for your Account"
      messageTemplate: "Confirmation code: ${otp}"
      otpLength: 6
      useLetters: false
      useDigits: true
      ttlMinutes: 3
      sender: "emailOtpSender"
      
webauthn:
  settings:
    timeout: 60000
    rpId: authentication.k4.vn
    origin: "https://authentication.k4.vn"

totp:
  issuer: "K4Infosec.com"
  issuerLabel: "K4Infosec"